.App {
    display: grid;
    height: 100vh;
    place-items: center;
    text-align: center;
}

.inputs {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
}

.inputs div {
    display: flex;
    gap: 10px;
}
